/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/


/*a:visited {
    color: #C83A23;
}*/

a:hover,
a:focus,
a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/



