/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

form.docuement-upload-form {
  margin: 0 5px 0 5px;
}

.aliceblue {
  background-color: aliceblue;
}

#tweet-preview.list-group {

    li.list-group-item, li.list-group-item:first-child {
      background-color: aliceblue;
      height: 60px;
      margin: 10px;
    }
}

#home .thumbnail {
  img {
    width: 171px;
    height: 180px;
  }
  .caption p {
    font-size: 20px;
    font-weight: bolder;
  }
  .caption h3 {
    color: grey;
  }
}

.navbar-default .navbar-header .navbar-brand {
  font-weight: bolder;
}

.nav.navbar-nav li a, .navbar a.navbar-brand {
   color: #fff;
 }

.navbar.navbar-default {
  background-color: #2793C9;
}

.nav.navbar-nav ul.dropdown-menu.custom-ul li a {
  color: grey;
}
