<header class="top-header">
  <a href="/" class="main-logo">
    <span class="logo">
      <%= render partial: "/layouts/barbet-logo" %>
    </span>
    <h1>Barbet</h1>
  </a>
  <div class="controls">
    <div class="notifications">
      <a class="list-open" href="#notification">
        <i class="fa fa-bell"></i>
      </a>
      <div class="list">
        <ul>
          <li><a href="#nogo">Lorem ipsum doler set amet dir orem ipsum doler set amet dir</a></li>
          <li><a href="#nogo">Lorem ipsum doler set amet dir orem ipsum doler dir</a></li>
          <li><a href="#nogo">Lorem ipsum doler set amet dir orem ipsum doler set amet dir</a></li>
          <li><a href="#nogo">Lorem ipsum doler set amet dir o set amet dir</a></li>
          <li><a href="#nogo">Lorem ipsum doler se doler set amet dir</a></li>
        </ul>
      </div>
    </div>
    <div class="account">
      <figure class="profile list-open">
        <!-- <img src="../img/bharat.jpg"> -->
      </figure>
      <div class="list">
        <ul>
          <li><a href="#nogo">View Profile</a></li>
          <li><a href="#nogo">Settings &amp; Privacy</a></li>
          <li><a href="#nogo">Analytics</a></li>
          <li><a href="#nogo">Help</a></li>
          <li><a class="logout" href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>